.layui-footer {
    font-size: 17px;
    text-align: center;
}

.layui-icon {
    margin-left: 30px;
    margin-right: 5px;
}

.iconfont {
    margin-right: 8px;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

a {
    transition: none;
}

.uesrinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.layui-side-scroll .uesrinfo {
    border-bottom: 1px solid #000;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}

.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #009688;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    vertical-align: middle;
    margin-right: 10px;
}

#welcome {
    font-size: 10px;
}